{% extends 'layout.html' %}


{% block body %}
    <div class="banner-container">
        <a class="banner-box" href="/signup">Create An Account</a>
        <a href="/"><h1>Write500</h1></a>
    </div>
    <br>
    <br>
    <br>
    <div class="brand-container">
        <div class="brand-intro">
            <p>Whether you're writing a piece for work, a school assignment, or
                you're working to reach the top of the bestsellers list, committing to a writing
                routine is <em>imperative</em> to improve your skills. Commit to writing just 500 words 
                each day can increase your abilities and keep writer's block at bay.
                Not sure if Write500 is for you? <a href="/about">Click to learn more.</a>
            </p>
        </div>
    </div>
    <div class="outer-container">
        <div class="inner-container">
            <p>"It's none of their business that you have to learn to write. Let them think you were born that way."</p>
            <h2>- Ernest Hemingway</h2>
        </div>
        <form class="login-container" action="/" method="POST">
            <h2>Sign In</h2>
            {% from 'includes/_formhelpers.html' import render_field %}
            {{ form.hidden_tag() }}
            <form action="" method="POST">
                <div class="login-input">
                    {{ render_field(form.email, placeholder='Email') }}
                </div>
                <div class="login-input">
                    {{ render_field(form.password, placeholder='Password') }}
                </div>
                <div class="remember">
                    {{ render_field(form.remember) }}
                </div>
                <button type="submit">Start Writing!</button>
            </form>
        </form>
    </div>
{% endblock %}