<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Write500</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Dancing+Script&display=swap" rel="stylesheet"> 
</head>
{% block header %}{% endblock %}
<body>
    {% block body %}
    {% endblock %}
    <script type="text/js" src="static/js/wordcounter.js"></script>
</body>
<footer>
    <div class="footer-container">
        <div class="sm-outer">
            <h3>Connect With Us</h3>
            <div class="sm-inner">
                <a class="sm-icon" href="https://www.twitter.com/LyndiCastrejon"><img src="../static/img/twitter-icon.png" alt="twitter bird icon"></a>
                <a class="sm-icon" href="/about"><img src="../static/img/email.png" alt="envelope icon"></a>            </div>
        </div>
    </div>
</footer>
</html>